:root {
  font-feature-settings: 'zero', 'ss01', 'cv01', 'cv10';
}

/* latin-compact */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-latin-compact.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+A, U+20-7E, U+A0, U+A9, U+AE, U+B7, U+C0-DD, U+DF-FF, U+152,
    U+153, U+2DA, U+2010, U+2013, U+2014, U+2018, U+2019, U+201C, U+201D, U+2026,
    U+2122, U+2190-2193, U+22C5;
}

/* latin-rest */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-latin-rest.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0-9, U+B-1F, U+7F-9F, U+A1-A8, U+AA-AD, U+AF-B6, U+B8-BF,
    U+DE, U+131, U+2BB, U+2BC, U+2C6, U+2DC, U+2000-200F, U+2011, U+2012,
    U+2015-2017, U+201A, U+201B, U+201E-2025, U+2027-206F, U+2074, U+20AC,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-latin-ext.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-greek.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0370-03FF;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-greek-ext.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-cyrillic.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-cyrillic-ext.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-normal-vietnamese.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-compact */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-latin-compact.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+A, U+20-7E, U+A0, U+A9, U+AE, U+B7, U+C0-DD, U+DF-FF, U+152,
    U+153, U+2DA, U+2010, U+2013, U+2014, U+2018, U+2019, U+201C, U+201D, U+2026,
    U+2122, U+2190-2193, U+22C5;
}

/* latin-rest */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-latin-rest.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0-9, U+B-1F, U+7F-9F, U+A1-A8, U+AA-AD, U+AF-B6, U+B8-BF,
    U+DE, U+131, U+2BB, U+2BC, U+2C6, U+2DC, U+2000-200F, U+2011, U+2012,
    U+2015-2017, U+201A, U+201B, U+201E-2025, U+2027-206F, U+2074, U+20AC,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-latin-ext.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-greek.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0370-03FF;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-greek-ext.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-cyrillic.woff2?v=1c90ecfa) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-cyrillic-ext.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  src: url(/fonts/inter/inter-italic-vietnamese.woff2?v=1c90ecfa)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
