{% set shouldShow = page.date | couldBeOutdated %}

{% if shouldShow %}
<div class="not-prose flex flex-col gap-y-1 border-l-2 border-tailwind-yellow-400 dark:border-tailwind-yellow-600 px-6 py-2 !mb-10">
  <p class="text-lg font-bold text-tailwind-yellow-400 dark:text-tailwind-yellow-500">Warning!</p>
  <p>This article may contain outdated information, as it is more than two years old.</p>
</div>
{% endif %}
