<picture>
  <source srcset="/icons/ryan-64.webp 2x, /icons/ryan-32.webp" type="image/webp" />
  <source srcset="/icons/ryan-64.png 2x, /icons/ryan-32.png" type="image/png" />
  <img src="/icons/ryan-64.png" class="rounded-full" width="32" height="32" alt="Profile picture of Ryan" decoding="async" />
</picture>
