{% if postslistcompact %}
{% set listClasses = "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12" %}
{% else %}
{% set listClasses = "flex flex-col gap-y-12" %}
{% endif %}

<ol reversed class="{{ listClasses }}">
  {% for i in postslist %}
  <li class="flex flex-col gap-y-2">
    <a href="{{ i.url }}" class="text-xl font-semibold hover:underline underline-offset-2 transition">
      <h2>{{ i.data.title }}</h2>
    </a>
    <div class="flex flex-wrap gap-1 text-sm">
      {% for tag in i.data.tags | filterTagsList %}
      <a href="/posts/tags/{{ tag | slugify }}/" class="px-2.5 py-0.5 bg-surface hover:bg-surface-hover transition rounded-full">{{ tag }}</a>
      {% endfor %}
    </div>
    <p class="text-sm text-fg-dimmed">
      {{ views[i.url] | numberFormat }} reads · ~{{ i.templateContent | readingTime }} · {{ i.date | customDateFormat }}
    </p>
  </li>
  {% endfor %}
  {% if postslistcompact %}
  <li class="place-self-stretch">
    <a class="grid place-content-center w-full h-full py-4 rounded-md border-dashed border-2 border-surface hover:border-surface-hover transition" href="{{ '/posts/' | url }}">
      <span class="text-fg-less-dimmed font-medium">Read more &rightarrow;</span>
    </a>
  </li>
  {% endif %}
</ol>
