<ol reversed class="{% if postslistcompact %}grid grid-cols-1 md:grid-cols-2 gap-12{% else %}flex flex-col gap-y-12{% endif %}">
  {% for i in postslist %}
  <li class="flex flex-col gap-y-2">
    <a href="{{ i.url }}" class="{% if postslistcompact %}text-lg{% else %}text-xl{% endif %} text-fg hover:text-fg-brighter font-bold tracking-tight underline-offset-2 transition text-balance">
      <h2>{{ i.data.title }}</h2>
    </a>
    <div class="flex flex-wrap gap-1 {% if postslistcompact %}text-xs{% else %}text-sm{% endif %}">
      {% for tag in i.data.tags | filterTagsList %}
      <a href="/posts/tags/{{ tag | slugify }}/" class="px-2.5 py-0.5 bg-surface hover:bg-surface-hover transition rounded-full">{{ tag }}</a>
      {% endfor %}
    </div>
    <p class="{% if postslistcompact %}text-xs{% else %}text-sm{% endif %} text-fg-dimmed">
      {{ views[i.fileSlug] | numberFormat }} reads · ~{{ i.templateContent | readingTime }} · {{ i.date | prettyDateFormat }}
    </p>
  </li>
  {% endfor %}
  {% if postslistcompact %}
  <li class="place-self-stretch">
    <a class="grid place-content-center w-full h-full py-4 rounded-md border-dashed border-2 border-surface hover:border-surface-hover transition" href="{{ '/posts/' | url }}">
      <span class="text-fg-less-dimmed font-medium">Read more &rightarrow;</span>
    </a>
  </li>
  {% endif %}
</ol>
