<div class="flex flex-col gap-y-1 h-full">
  <a href="{{ project.link }}" class="group flex flex-row gap-x-2 items-center">
    <h3 class="font-bold text-lg tracking-tight underline underline-offset-2 decoration-dotted decoration-fg-dimmed group-hover:decoration-fg-less-dimmed transition-colors">
      {{ project.name }}
    </h3>

    {% if project.link.startsWith("https://github.com") %}
      {% icon 'simpleicon:github', class='block size-4 text-current' %}
    {% elif project.link.startsWith("https://codeberg.org") %}
      {% icon 'simpleicon:codeberg', class='block size-4 text-current' %}
    {% elif project.link.startsWith("https://modrinth.com") %}
      {% icon 'simpleicon:modrinth', class='block size-4 text-current' %}
    {% else %}
      {% icon 'lucide:arrow-up-right', class='block size-4 text-current' %}
    {% endif %}
  </a>

  <span class="text-fg-dimmed text-sm leading-snug text-pretty">
    {{ project.description }}
  </span>
</div>
