<a class="flex flex-col justify-between p-6 rounded-lg transition-all bg-surface hover:bg-surface-hover shadow-md shadow-surface/20 {% if project.featured %}md:col-span-2{% endif %}" href="{{ project.link }}">
  <div class="flex flex-col gap-y-2">
    <h3 class="font-bold text-xl">
      {{ project.name }}
    </h3>
    <p class="text-fg-dimmed leading-snug">
      {{ project.description }}
    </p>
  </div>

  {% if project.link.startsWith("https://github.com") %}
    {% icon 'simpleicon:github', class='block w-4 h-4 mt-8 self-end text-current' %}
  {% elif project.link.startsWith("https://codeberg.org") %}
    {% icon 'simpleicon:codeberg', class='block w-4 h-4 mt-8 self-end text-current' %}
  {% else %}
    {% icon 'lucide:arrow-up-right', class='block w-4 h-4 mt-8 self-end text-current' %}
  {% endif %}
</a>
