<div class="flex flex-col gap-y-12">
  <a href="https://ko-fi.com/ryancaodev" rel="noreferrer" class="relative group flex flex-col gap-y-3 px-8 py-6 rounded-lg bg-surface">
    <h2 class="font-bold text-lg tracking-tight text-balance">Buy me a coffee if you liked this article!</h2>
    <p class="text-pretty">Donating means a lot to me and supports my writing and my open source projects/contributions!</p>
    {% icon "lucide:heart-handshake", class="absolute top-0 right-0 m-4 size-16 text-surface-hover group-hover:text-accent transition pointer-events-none" %}
  </a>

  <div class="flex flex-col gap-y-2">
    <h2 class="text-lg font-medium">
      Share
    </h2>

    <div class="flex flex-wrap gap-2">
      <a class="buttonish bg-black/5 hover:bg-black/10 dark:bg-white/5 dark:hover:bg-white/10" href="{% twitterShareLink %}">
        {% icon "simpleicon:x", class="block size-4 text-black dark:text-white" %}
        <span>X / Twitter</span>
      </a>

      <a class="buttonish bg-brand-mastodon/10 hover:bg-brand-mastodon/15" href="{% mastodonShareLink %}">
        {% icon "simpleicon:mastodon", class="block size-4 text-brand-mastodon" %}
        <span>Mastodon</span>
      </a>

      <a class="buttonish bg-brand-hn/10 hover:bg-brand-hn/15" href="{% hnShareLink title %}">
        {% icon "simpleicon:ycombinator", class="block size-4 text-brand-hn" %}
        <span>Hacker News</span>
      </a>

      <button class="buttonish bg-surface hover:bg-surface-hover hidden" data-share-btn>
        {% icon "lucide:laptop", class="block size-4" %}
        <span>System share menu</span>
      </a>
    </div>
  </div>
</div>
