
<ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {% for item in uses[usesListKey] %}
  <li>
    <div class="relative flex flex-col gap-y-1 h-full rounded-lg">
      <div class="flex flex-row gap-1 flex-wrap items-center">
        <a href="{{ item.url }}" class="font-bold text-lg tracking-tight mr-2">{{ item.name }}</a>

        {% if item.openSource === true %}
          <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">Open source</span>
        {% endif %}
        {% if item.paid === true %}
          <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">Paid</span>
        {% endif %}
        {% if item.freemium === true %}
          <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">Freemium</span>
        {% endif %}
        {% if item.macos === true %}
          <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">macOS</span>
        {% endif %}
        {% if item.ios === true %}
          <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">iOS</span>
        {% endif %}
      </div>

      {% if "description" in item %}
        <span class="text-fg-dimmed text-sm font-normal leading-snug">{{ item.description }}</span>
      {% endif %}

      {% if "accessories" in item %}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4">
        {% for accessory in item.accessories %}
        <div class="flex flex-col gap-y-1">
          <a href="{{ accessory.url }}" class="font-semibold text-sm text-fg-less-dimmed hover:text-fg transition-colors tracking-tight leading-snug">{{ accessory.name }}</a>
          {% if "description" in accessory %}<span class="text-fg-dimmed text-xs text-balance leading-snug">{{ accessory.description }}</span>{% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
