<div class="flex flex-col gap-y-3">
  <h2 class="text-lg font-display font-medium leading-none">
    {{ webmentionList.length or "No" }} {{ webmentionType }}{% if webmentionList.length !== 1 %}s{% endif %}
  </h2>

  {% if webmentionList.length %}
  <div class="flex items-center min-h-[32px] flex-wrap gap-y-1">
    {% for webmention in webmentionList %}
      <a href="{{ webmention.author.url }}" class="-mr-[16px] brightness-90 hover:brightness-100 transition-all" style="z-index: {{ loop.index }};">
        {% if webmention.author.photo %}
        <img src="{{ webmention.author.photo }}" class="bg-surface rounded-full overflow-hidden" width="32" height="32" loading="lazy" decoding="async" alt="{{ webmention.author.name }}">
        {% else %}
        <div class="bg-surface w-[32px] h-[32px] text-lg grid place-content-center">{{ webmention.author.name[0].toUpperCase() }}</div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="bg-surface rounded-lg min-h-[32px] grid place-content-center px-4 py-6 text-sm text-fg-dimmed">
    Will you be the first one to {{ webmentionType.toLowerCase() }} this page 👀
  </div>
  {% endif %}
</div>
