{
  "singleQuote": true,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "**/*.{yml,yaml}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
