{
  "singleQuote": true,
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@awmottaz/prettier-plugin-void-html"
  ],
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "**/*.{yml,yaml}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
