---
layout: base
permalink: /mods/
---

<h1 class="mb-1 text-4xl font-bold">Mods</h1>
<h2 class="mb-12 text-lg font-medium text-zinc-600 dark:text-zinc-300">
  A list of mods that I use
</h2>

{% for category, mods in modList %}
<h3 class="mb-6 text-2xl font-semibold">{{ category }}</h3>

<ul class="flex flex-col mb-10">
  {% for mod in mods %}
  <li class="block">
    <a class="block p-4 hover:bg-zinc-100 dark:hover:bg-zinc-800" href="{{ mod.properties.Homepage.url }}">
     <h4 class="text-lg font-medium">{{ mod.properties.Name.title[0].plain_text }}</h4>
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
