@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Variable.latin.woff2?v=20221229')
      format('woff2'),
    url('/assets/fonts/satoshi/Satoshi-VariableItalic.latin.woff?v=20221229')
      format('woff'),
    url('/assets/fonts/satoshi/Satoshi-Variable.latin.ttf?v=20221229')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-VariableItalic.latin.woff2?v=20221229')
      format('woff2'),
    url('/assets/fonts/satoshi/Satoshi-VariableItalic.latin.woff?v=20221229')
      format('woff'),
    url('/assets/fonts/satoshi/Satoshi-VariableItalic.latin.ttf?v=20221229')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
