---
navLinks:
  - title: Projects
    url: /projects/
    icon: lucide:album
  - title: Uses
    url: /uses/
    icon: lucide:bookmark
  - title: Blog
    url: /posts/
    icon: lucide:pencil
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title !== "Ryan Cao" %}{{ title }} &middot; {% endif %}Ryan Cao</title>

    {% if consts.production %}
    <script async defer data-domain="ryanccn.dev" data-api="/sus/event" src="/sus/script.js"></script>
    {% endif %}
    <script nonce="{{ nonces.script }}">{{ inlineAssets.script | safe }}</script>
    <style>{{ inlineAssets.styles.fonts | safe }}</style>

    <link rel="stylesheet" href="/assets/styles.css?v={{ consts.revision }}">
    <link rel="preload" as="style" href="/assets/styles.css?v={{ consts.revision }}">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/fonts/inter/inter-normal-latin-compact.woff2?v=f451ff04">

    <link rel="icon" href="/icons/icon.svg?v={{ consts.revision }}" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png?v={{ consts.revision }}" type="image/png" sizes="180x180">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="canonical" href="https://ryanccn.dev{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" href="https://ryanccn.dev/feed/rss.xml" title="RSS feed">
    <link rel="alternate" type="application/atom+xml" href="https://ryanccn.dev/feed/atom.xml" title="Atom feed">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    {% set description_ = description or "High school student and open source developer." %}

    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description_ }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Ryan Cao">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description_ }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RyanCaoDev">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description_ }}">

    <meta property="og:image" content="{{ page.url | ogImage }}?v={{ consts.revision }}">
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta name="twitter:image" content="{{ page.url | ogImage }}?v={{ consts.revision }}">
  </head>

  <body>
    <div class="h-card" hidden style="display: none;">
      <a href="/" class="p-name u-url">Ryan Cao</a>
      <a class="u-photo" href="https://ryanccn.dev/icons/icon-512.png">Profile photo</a>
      <p class="p-note">High school student and open source developer.</p>
    </div>

    <header class="flex flex-col md:w-72 shrink-0">
      <a href="/" class="relative group flex self-start mb-14">
        {% icon "custom:me", class="absolute top-0 left-0 w-8 h-auto text-surface group-hover:text-surface-hover transition-colors z-10", "aria-hidden"="true" %}
        {% icon "custom:me", class="w-8 h-auto animate-me-icon text-fg hover:text-accent transition-colors z-20" %}
        <span class="sr-only">Ryan Cao</span>
      </a>

      <div class="flex flex-col gap-y-4 mb-12">
        {% asyncAll link in navLinks %}
        <a
          href="{{ link.url }}"
          class="flex flex-row gap-x-2 items-center text-base rounded-sm font-bold tracking-tight transition-colors {% if link.url === page.url -%} text-accent {%- else -%} text-fg hover:text-accent {%- endif %}"
        >
          {% icon link.icon, class='block size-4 shrink-0' %}
          <span>{{ link.title }}</span>
        </a>
        {% endall %}
      </div>

      <div class="flex items-center flex-wrap gap-2 mb-4">
        <a rel="me noreferrer" href="https://sk1.ryanccn.dev/@ryan" class="text-fg hover:text-accent transition-colors p-1" title="Fediverse">
          {% icon "custom:fediverse", class="block size-5 overflow-visible" %}
        </a>
        <a rel="me authn" href="https://github.com/ryanccn" class="text-fg hover:text-accent transition-colors p-1" title="GitHub">
          {% icon "simpleicon:github", class="block size-5 overflow-visible" %}
        </a>
        <a rel="me noreferrer" href="https://x.com/RyanCaoDev" class="text-fg hover:text-accent transition-colors p-1" title="Twitter">
          {% icon "simpleicon:x", class="block size-5 overflow-visible" %}
        </a>
        <a rel="noreferrer" href="https://discord.gg/ty7GCnN87U" class="text-fg hover:text-accent transition-colors p-1" title="Discord">
          {% icon "simpleicon:discord", class="block size-5 overflow-visible" %}
        </a>
        <a rel="noreferrer" href="https://ko-fi.com/ryancaodev" class="text-fg hover:text-accent transition-colors p-1" title="Ko-fi">
          {% icon "simpleicon:kofi", class="block size-5 overflow-visible" %}
        </a>
        <button id="copy-email" class="no-default text-fg hover:text-accent transition-colors p-1" title="Copy email address">
          {% icon "lucide:mail", class="block size-5 overflow-visible", "data-icon"="m" %}
          {% icon "lucide:check", class="hidden size-5 overflow-visible", "data-icon"="d" %}
        </button>
      </div>

      <div class="flex flex-row self-start items-center mb-16" id="theme-select">
        {% icon 'lucide:palette', class='block size-4 ml-3 my-2 shrink-0 z-20 pointer-events-none', 'aria-hidden'='true' %}

        <select aria-label="Select a theme" class="-ml-7 py-2 pl-10 pr-3 z-10 appearance-none text-sm font-medium bg-surface hover:bg-surface-hover transition rounded">
          <option value="light">Default Light</option>
          <option value="dim">Default Dim</option>
          <option value="dark">Default Dark</option>
          <option value="flexoki-light">Flexoki Light</option>
          <option value="flexoki-dark">Flexoki Dark</option>
          <option value="rose-pine">Rosé Pine</option>
          <option value="rose-pine-moon">Rosé Pine Moon</option>
          <option value="rose-pine-dawn">Rosé Pine Dawn</option>
          <option value="gruvbox-light">Gruvbox Light</option>
          <option value="gruvbox-dark">Gruvbox Dark</option>
          <option value="ctp-latte">Catppuccin Latte</option>
          <option value="ctp-frappe">Catppuccin Frappé</option>
          <option value="ctp-macchiato">Catppuccin Macchiato</option>
          <option value="ctp-mocha">Catppuccin Mocha</option>
          <option value="nord-light">Nord Light</option>
          <option value="nord-dark">Nord Dark</option>
        </select>
      </div>

      <div class="flex-col gap-y-2 hidden md:flex">
        <div class="flex flex-row gap-x-1 items-center text-sm">
          <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws/previous" title="Previous">{% icon "lucide:arrow-left", class="block size-4" %}</a>
          <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
          <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws/next" title="Next">{% icon "lucide:shuffle", class="block size-4" %}</a>
        </div>

        <a class="text-sm text-balance text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://github.com/ryanccn/ryanccn.dev/blob/main/{{ page.inputPath }}">
          Code licensed under MIT, content licensed under CC BY-SA 4.0
        </a>
      </div>
    </header>

    <main class="flex flex-col">
      {{ content | safe }}
    </main>

    <footer class="flex flex-col gap-y-2 md:hidden mt-20">
      <div class="flex flex-row gap-x-1 items-center text-sm">
        <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws/previous" title="Previous">{% icon "lucide:arrow-left", class="block size-4" %}</a>
        <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
        <a class="px-0.5 py-0.5 text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://xn--sr8hvo.ws/next" title="Next">{% icon "lucide:shuffle", class="block size-4" %}</a>
      </div>

      <a class="text-sm text-pretty text-fg-dimmed hover:text-fg-less-dimmed transition-colors" href="https://github.com/ryanccn/ryanccn.dev/blob/main/{{ page.inputPath }}">
        Code licensed under MIT, content licensed under CC BY-SA 4.0
      </a>
    </footer>
  </body>
</html>
