---
navLinks:
  - title: Projects
    url: /projects/
    icon: album
  - title: Uses
    url: /uses/
    icon: bookmark
  - title: Blog
    url: /posts/
    icon: pencil

eleventyComputed:
  socialImg: "{{ domain }}/previews/{{ title | slugify }}.png"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title !== "Ryan Cao" %}{{ title }} &middot; {% endif %}Ryan Cao</title>
    <link rel="icon" href="/icons/transparent.png" />
    <link rel="apple-touch-icon" href="/icons/solid.png" />
    <link rel="canonical" href="https://ryanccn.dev{{ page.url }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://ryanccn.dev/feed/rss.xml"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://ryanccn.dev/feed/atom.xml"
    />
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="A blog on web development, etc." />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="A blog on web development, etc." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@RyanCaoDev" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta property="og:image" content="{{ socialImg }}" />
    <meta name="twitter:image" content="{{ socialImg }}" />

    <link rel="stylesheet" href="/assets/tailwind.css?v={{ gitRev }}" />
    <style>{{ fontStyles | safe }}</style>

    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/switzer/Switzer-Variable.woff2?v=20230118" crossorigin="anonymous" />

    {% if includePrismCSS %}
    <link rel="stylesheet" href="/assets/prism.css?v={{ gitRev }}" />
    {% endif %}

    <script>{{ inlinedScript | safe }}</script>

    {% if inProduction %}
    <script
      defer
      data-domain="ryanccn.dev"
      data-api="/sus/event"
      src="/sus/script.js"
    ></script>
    {% endif %}
  </head>

  <body>
    <header
      class="flex flex-col md:flex-row md:justify-between md:items-center md:px-6 py-16 md:mb-12 gap-y-10 md:gap-y-0"
    >
      <a href="/" class="flex gap-x-3 items-center md:px-3 py-2 my-1 transition rounded-sm">
        {% include 'pictureOfMe.njk' %}
        <span class="font-display tracking-tight text-3xl font-black">Ryan Cao</span>
      </a>

      <div class="flex flex-col md:flex-row md:gap-x-10 gap-y-8 md:items-center">
        <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
          {% for link in navLinks %}
          <a
            href="{{ link.url }}"
            class="flex flex-row gap-x-3 items-center text-lg font-display md:px-3 py-1 rounded-sm font-semibold transition {% if link.url === page.url -%} text-accent {%- else -%} link {%- endif %}"
          >
            {% lucide link.icon, 'block w-5 h-5' %}
            <span>{{ link.title }}</span>
          </a>
          {% endfor %}
        </div>

        <div class="flex items-center gap-3">
          <a rel="me" href="https://blobfox.coffee/@RyanCaoDev" class="rounded p-1 hover:brightness-90 transition-all focus:ring-mastodon/30">
            {% simpleicon "mastodon", "block h-5 w-5 text-mastodon" %}
          </a>
          <a rel="me" href="https://github.com/ryanccn" class="rounded p-1 hover:brightness-90 transition-all focus:ring-github/30 dark:focus:ring-white/30">
            {% simpleicon "github", "block h-5 w-5 text-github dark:text-white" %}
          </a>
          <a rel="me" href="https://twitter.com/RyanCaoDev" class="rounded p-1 hover:brightness-90 transition-all focus:ring-twitter/30">
            {% simpleicon "twitter", "block h-5 w-5 text-twitter" %}
          </a>
          <a href="https://discord.com/invite/ty7GCnN87U" class="rounded p-1 hover:brightness-90 transition-all focus:ring-discord/30">
            {% simpleicon "discord", "block h-5 w-5 text-discord" %}
          </a>
          <a href="https://modrinth.com/user/ryanccn" class="rounded p-1 hover:brightness-90 transition-all focus:ring-modrinth/30">
            {% simpleicon "modrinth", "block h-5 w-5 text-modrinth" %}
          </a>
          <a rel="me" href="https://ko-fi.com/ryancaodev" class="rounded p-1 hover:brightness-90 transition-all focus:ring-kofi/30">
            {% simpleicon "kofi", "block h-5 w-5 text-kofi" %}
          </a>
        </div>
      </div>

      <button type="button" data-theme-toggle aria-label="Change theme" class="fixed bottom-0 right-0 m-2 z-[9999] rounded px-3 py-2 text-fg-brighter bg-surface/70 hover:bg-surface-hover/70 backdrop-blur-lg">
        {% lucide 'palette', 'block h-4 w-4' %}
        <span>&nbsp;</span>
      </button>
    </header>

    <main class="flex flex-col w-full max-w-[70ch] mx-auto">
      {{ content | safe }}
    </main>

    <footer
      class="text-fg-dimmed mt-24 flex flex-col items-center gap-y-4 w-full max-w-[30ch] self-center text-center text-xs"
    >
      <a class="hover:text-fg-less-dimmed transition-colors" href="https://github.com/ryanccn/ryanccn.dev/blob/main/{{ page.inputPath }}">
        Code licensed under MIT, content licensed under CC BY-SA 4.0
      </a>
    </footer>
  </body>
</html>
