---
layout: 'base'
---

{# seems like I have to whitelist this, so, shiki #}

<article class="prose enhanced-prose font-prose mb-12">
  {{ content | safe }}
  <p class="mt-16 text-fg-dimmed">Last updated on {{ date | customDateFormat }}</p>
</article>

{% include 'shareLinks.njk' %}
