---
layout: 'base'
---

<article class="prose enhanced-prose font-prose mb-16">
  <h1>{{ title }}</h1>

  <div class="not-prose -mt-6 mb-10 font-sans flex flex-col gap-y-4">
    <span class="text-lg font-medium text-fg-dimmed">by <span class="font-semibold text-fg-brighter font-display">Ryan Cao</span></span>
    <div class="flex flex-wrap gap-1 font-medium text-sm">
      {% for tag in tags | filterTagsList %}
      <a href="/posts/tags/{{ tag | slugify }}/" class="px-2 py-0.5 bg-surface hover:bg-surface-hover transition rounded-full">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>

  {% include 'outdatedWarning.njk' %}
  {{ content | safe }}
</article>

<div class="flex flex-row items-center gap-x-2 mb-3 text-fg-dimmed text-sm">
  {% simpleicon "creativecommons", "block w-4 h-4 text-fg" %}
  <p>Licensed under <span class="font-semibold text-fg">CC-BY-SA-4.0</span></p>
</div>

<div class="flex flex-row items-center gap-x-3 mb-3 text-fg text-sm">
  {% lucide "tag", "block w-4 h-4 text-fg" %}
  {% for tag in tags | filterTagsList %}
    <a href="/posts/tags/{{ tag | slugify }}/">{{ tag }}</a>
  {% endfor %}
</div>

<div class="flex flex-row items-center gap-x-2 mb-16 text-fg-dimmed text-sm">
  {% lucide "calendar", "block w-4 h-4 text-fg" %}
  <p>Published on <span class="font-semibold text-fg">{{ date | customDateFormat }}</span></p>
</div>

{% include 'shareLinks.njk' %}
