---
layout: 'base'
includePrismCSS: true
---

<article class="prose enhanced-prose font-prose mb-12">
  <h1>{{ title }}</h1>
  <div class="not-prose -mt-6 mb-10 font-sans">
    <span class="text-lg font-medium text-fg-dimmed">by <span class="font-semibold text-fg-brighter font-display">Ryan Cao</span></span>
  </div>
  {{ content | safe }}
  <p class="mt-16 text-fg-dimmed">{{ date | customDateFormat }}</p>
</article>

{% include 'shareLinks.njk' %}
