---
layout: 'base'
includePrismCSS: true
---

<article
  class="prose prose-a:text-blue-500 prose-a:underline-offset-2 prose-a:transition-colors hover:prose-a:text-blue-400 dark:prose-invert dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-500 prose-headings:font-satoshi"
>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>

