---
layout: 'base'
includePrismCSS: true
---

<article class="prose break-words prose-a:text-blue-500 prose-a:underline-offset-2 prose-a:transition-colors hover:prose-a:text-blue-400 dark:prose-invert dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-500 prose-headings:font-satoshi mb-12">
  <h1>{{ title | escape }}
  </h1>
  {{ content }}
</article>

{% include 'shareLinks.liquid' %}
