@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/plex/IBMPlexSansVar-Roman.latin.woff2?v=20221229')
      format('woff2'),
    url('/assets/fonts/plex/IBMPlexSansVar-Roman.latin.ttf?v=20221229')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/assets/fonts/plex/IBMPlexSansVar-Italic.latin.woff2?v=20221229')
      format('woff2'),
    url('/assets/fonts/plex/IBMPlexSansVar-Italic.latin.ttf?v=20221229')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
