@font-face {
  font-family: 'Switzer';
  src: url('/assets/fonts/switzer/Switzer-Variable.woff2?v=20230118')
      format('woff2'),
    url('/assets/fonts/switzer/Switzer-VariableItalic.woff?v=20230118')
      format('woff'),
    url('/assets/fonts/switzer/Switzer-Variable.ttf?v=20230118')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('/assets/fonts/switzer/Switzer-VariableItalic.woff2?v=20230118')
      format('woff2'),
    url('/assets/fonts/switzer/Switzer-VariableItalic.woff?v=20230118')
      format('woff'),
    url('/assets/fonts/switzer/Switzer-VariableItalic.ttf?v=20230118')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
