.shiki:has(.highlighted) .line:not(.highlighted) {
  opacity: 0.75;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.shiki:has(.highlighted):not(:hover) .line:not(.highlighted) {
  opacity: 0.35;
}

.shiki span.highlighted-word {
  outline-color: rgba(var(--fg) / 0.15);
  outline-offset: 0.1rem;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 0.25rem;
}
