@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-size: clamp(14px, 12.5712px + 0.2232vw, 16px);
    scroll-behavior: smooth;
    scrollbar-color: rgb(var(--surface-hover)) rgb(var(--surface));
  }

  body {
    @apply flex min-h-screen flex-col gap-y-20 md:flex-row md:gap-x-16 md:gap-y-0;
    @apply mx-auto max-w-[80rem] px-8 py-24 md:px-20 md:py-28;
    @apply bg-background text-fg;

    @apply overflow-x-hidden overflow-y-scroll;

    @apply antialiased;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-accent text-background;
  }

  * {
    min-width: 0;
    outline-color: rgba(var(--accent) / 1);
    outline-offset: 2.5px;
    outline-width: 2.5px;
  }

  *:focus-visible {
    outline-style: solid;
  }

  .title {
    @apply mb-6 text-balance text-4xl font-extrabold tracking-tight text-fg-brighter;
  }

  .subtitle {
    @apply -mt-2 text-balance text-xl tracking-tight text-fg-less-dimmed;
  }

  .enhanced-prose {
    @apply prose-h1:title break-words prose-headings:tracking-tight;
    @apply prose-a:text-accent prose-a:decoration-accent/50 prose-a:decoration-2 prose-a:underline-offset-2 prose-a:transition-colors hover:prose-a:text-accent-lighter hover:prose-a:decoration-accent-lighter/50;
    @apply prose-p:text-pretty;
    @apply prose-img:mx-auto;
    @apply max-w-none;

    --tw-prose-body: rgba(var(--fg) / 1);
    --tw-prose-headings: rgba(var(--fg-brighter) / 1);
    --tw-prose-links: rgba(var(--fg) / 1);
    --tw-prose-code: rgba(var(--fg) / 1);
    --tw-prose-bold: rgba(var(--fg-brighter) / 1);
    --tw-prose-quotes: rgba(var(--fg) / 1);
    --tw-prose-quote-borders: rgba(var(--surface) / 1);
    --tw-prose-bullets: rgba(var(--fg-dimmed) / 1);
    --tw-prose-hr: rgba(var(--surface) / 1);
    --tw-prose-captions: rgba(var(--fg-dimmed) / 1);
    --tw-prose-th-borders: rgba(var(--surface-hover) / 1);
    --tw-prose-td-borders: rgba(var(--surface) / 1);

    & :is(h2, h3, h4, h5) {
      @apply relative;
    }

    & :is(h2, h3, h4, h5) .anchor {
      @apply absolute left-0 top-0 -ml-4 inline-block;
      @apply text-base font-medium text-fg-dimmed no-underline hover:text-fg-less-dimmed;
    }

    & :is(h2, h3, h4, h5):target .anchor {
      @apply text-accent hover:text-accent-lighter;
    }
  }

  .accent-link {
    @apply font-medium text-accent underline decoration-accent/50 decoration-2 underline-offset-2 transition-colors hover:text-accent-lighter hover:decoration-accent-lighter/50;
  }

  .plain-link {
    @apply font-medium text-fg underline decoration-fg/50 decoration-2 underline-offset-2 transition-colors hover:text-fg-brighter hover:decoration-fg/60;
  }

  .buttonish,
  button:not(.no-default) {
    @apply flex items-center gap-x-3 rounded px-4 py-2 text-sm font-medium;
    @apply bg-surface transition-[color,background-color,border-color,text-decoration-color,fill,stroke,opacity,brightness] hover:bg-surface-hover disabled:opacity-75;

    &.primary {
      @apply bg-accent text-white;
    }
  }

  h2.projects-page {
    @apply mb-6 text-2xl font-bold tracking-tight;
  }

  .projects-grid {
    @apply mb-12 grid grid-cols-1 gap-2 md:grid-cols-2;

    & li a {
      @apply h-full;
    }
  }
}
