@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display: var(--font-sans);

  --color-*: initial;

  --color-transparent: transparent;
  --color-black: black;
  --color-white: white;
  --color-current: currentColor;

  --color-fg: rgba(var(--fg) / 1);
  --color-fg-brighter: rgba(var(--fg-brighter) / 1);
  --color-fg-less-dimmed: rgba(var(--fg-less-dimmed) / 1);
  --color-fg-dimmed: rgba(var(--fg-dimmed) / 1);

  --color-accent: rgba(var(--accent) / 1);
  --color-accent-lighter: rgba(var(--accent-lighter) / 1);

  --color-background: rgba(var(--background) / 1);
  --color-surface: rgba(var(--surface) / 1);
  --color-surface-hover: rgba(var(--surface-hover) / 1);

  --color-warning: rgba(var(--warning) / 1);
}

@layer components {
  html {
    font-size: clamp(14px, 12.5712px + 0.2232vw, 16px);
    scroll-behavior: smooth;
    scrollbar-color: rgb(var(--surface-hover)) rgb(var(--surface));
  }

  body {
    @apply flex min-h-screen flex-col gap-y-20 md:flex-row md:gap-x-16 md:gap-y-0;
    @apply mx-auto max-w-[80rem] px-8 py-24 md:px-20 md:py-28;
    @apply bg-background text-fg;

    @apply overflow-x-hidden overflow-y-scroll;

    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; */
  }

  ::selection {
    @apply bg-accent text-background;
  }

  input,
  textarea,
  select,
  button {
    border: 0px solid;
    border-radius: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
  }

  [id] {
    scroll-margin-top: 2.5rem;
  }

  * {
    min-width: 0;
  }

  *:focus-visible {
    outline-style: solid;
    outline-color: rgba(var(--accent) / 1);
    outline-offset: 2.5px;
    outline-width: 2.5px;
  }
}

@utility ry-title {
  @apply text-fg-brighter mb-6 text-4xl font-bold tracking-tight text-balance;
}

@utility ry-subtitle {
  @apply text-fg-less-dimmed -mt-2 text-xl tracking-tight text-balance;
}

@utility ry-link {
  @apply font-medium underline decoration-dotted underline-offset-2 transition-colors;

  &.accent {
    @apply text-accent decoration-accent/50 hover:text-accent-lighter hover:decoration-accent-lighter/50;
  }
  &.plain {
    @apply text-fg decoration-fg/50 hover:text-fg-brighter hover:decoration-fg/60;
  }
}

@utility ry-button {
  @apply flex items-center gap-x-3 rounded-sm px-4 py-2 text-sm font-medium;
  @apply bg-surface hover:bg-surface-hover transition-[color,background-color,border-color,text-decoration-color,fill,stroke,opacity,brightness] disabled:opacity-75;

  &.primary {
    @apply bg-accent text-white;
  }
}

@layer overrides {
  .prose {
    --tw-prose-body: var(--color-fg);
    --tw-prose-headings: var(--color-fg-brighter);
    --tw-prose-links: var(--color-fg);
    --tw-prose-code: var(--color-fg);
    --tw-prose-bold: var(--color-fg-brighter);
    --tw-prose-quotes: var(--color-fg);
    --tw-prose-quote-borders: var(--color-surface);
    --tw-prose-bullets: var(--color-fg-dimmed);
    --tw-prose-counters: var(--color-fg-dimmed);
    --tw-prose-hr: var(--color-surface);
    --tw-prose-captions: var(--color-fg-dimmed);
    --tw-prose-th-borders: var(--color-surface-hover);
    --tw-prose-td-borders: var(--color-surface);

    @apply prose-h1:ry-title prose-headings:tracking-tight break-words;
    @apply prose-a:text-accent prose-a:decoration-accent/50 prose-a:decoration-dotted prose-a:underline-offset-2 prose-a:transition-colors prose-a:hover:text-accent-lighter prose-a:hover:decoration-accent-lighter/50;
    @apply prose-p:text-pretty;
    @apply prose-pre:rounded-lg prose-pre:border-[1.5px] prose-pre:border-surface;
    @apply prose-img:mx-auto;
    @apply max-w-none;

    & :is(h2, h3, h4, h5) {
      @apply relative;
    }

    & :is(h2, h3, h4, h5) .anchor {
      @apply absolute top-0 left-0 -ml-4 inline-block;
      @apply text-fg-dimmed hover:text-fg-less-dimmed text-base font-medium no-underline;
    }

    & :is(h2, h3, h4, h5):target .anchor {
      @apply text-accent hover:text-accent-lighter;
    }

    & blockquote p::before,
    & blockquote p::after {
      content: '';
    }
  }
}
