@define-mixin shiki-variables $theme {
  & .shiki,
  & .shiki span {
    color: var(--shiki-$(theme));
    background-color: var(--shiki-$(theme)-bg);
    font-style: var(--shiki-$(theme)-font-style);
    font-weight: var(--shiki-$(theme)-font-weight);
    text-decoration: var(--shiki-$(theme)-text-decoration);
  }
}

:root {
  --fg: 33 37 41;
  --fg-brighter: 0 0 0;
  --fg-less-dimmed: 52 58 64;
  --fg-dimmed: 73 80 87;
  --accent: 25 113 194;
  --accent-lighter: 28 126 214;

  --background: 255 255 255;
  --surface: 241 243 245;
  --surface-hover: 233 236 239;

  --warning: 252 196 25;

  @mixin shiki-variables light;

  & .shiki,
  & .shiki span {
    background-color: inherit;
  }
}

.theme-dim {
  --fg: 248 249 250;
  --fg-brighter: 255 255 255;
  --fg-less-dimmed: 222 226 230;
  --fg-dimmed: 206 212 218;
  --accent: 77 171 247;
  --accent-lighter: 116 192 252;

  --background: 32 34 36;
  --surface: 48 51 54;
  --surface-hover: 64 68 72;

  --warning: 255 224 102;

  @mixin shiki-variables dark;

  & .shiki,
  & .shiki span {
    background-color: inherit;
  }
}

.theme-dark {
  --fg: 248 249 250;
  --fg-brighter: 255 255 255;
  --fg-less-dimmed: 222 226 230;
  --fg-dimmed: 206 212 218;
  --accent: 80 174 250;
  --accent-lighter: 119 195 255;

  --background: 16 17 18;
  --surface: 32 34 36;
  --surface-hover: 48 51 54;

  --warning: 255 224 102;

  @mixin shiki-variables dark;

  & .shiki,
  & .shiki span {
    background-color: inherit;
  }
}

.theme-ctp-latte {
  --fg: 76 79 105;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 92 95 119;
  --fg-dimmed: 108 111 133;
  --accent: 4 165 229;
  --accent-lighter: 34 190 252; /* not part of the default palette, lightened via HSL */

  --background: 230 233 239;
  --surface: 239 241 245;
  --surface-hover: 204 208 218;

  --warning: 223 142 29;

  @mixin shiki-variables ctp-latte;
}

.theme-ctp-frappe {
  --fg: 198 208 245;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 181 191 226;
  --fg-dimmed: 165 173 206;
  --accent: 140 170 238;
  --accent-lighter: 166 189 242; /* same as above */

  --background: 41 44 60;
  --surface: 48 52 70;
  --surface-hover: 65 69 89;

  --warning: 229 200 144;

  @mixin shiki-variables ctp-frappe;
}

.theme-ctp-macchiato {
  --fg: 202 211 245;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 184 192 224;
  --fg-dimmed: 165 173 203;
  --accent: 138 173 244;
  --accent-lighter: 162 190 246; /* same as above */

  --background: 30 32 48;
  --surface: 36 39 58;
  --surface-hover: 54 58 79;

  --warning: 238 212 159;

  @mixin shiki-variables ctp-macchiato;
}

.theme-ctp-mocha {
  --fg: 205 214 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 186 194 222;
  --fg-dimmed: 166 173 200;
  --accent: 137 180 250;
  --accent-lighter: 162 196 251; /* same as above */

  --background: 24 24 37;
  --surface: 30 30 46;
  --surface-hover: 49 50 68;

  --warning: 249 226 175;

  @mixin shiki-variables ctp-mocha;
}

.theme-nord-light {
  --fg: 46 52 64;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 59 66 82;
  --fg-dimmed: 67 76 94;
  --accent: 129 161 193;
  --accent-lighter: 136 192 208;

  --background: 236 239 244;
  --surface: 229 233 240;
  --surface-hover: 216 222 233;

  --warning: 235 203 139;

  @mixin shiki-variables nord;
}

.theme-nord-dark {
  --fg: 236 239 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 229 233 240;
  --fg-dimmed: 216 222 233;
  --accent: 136 192 208;
  --accent-lighter: 129 161 193;

  --background: 46 52 64;
  --surface: 59 66 82;
  --surface-hover: 67 76 94;

  --warning: 235 203 139;

  @mixin shiki-variables nord;
}

.theme-rose-pine {
  --fg: 224 222 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 144 140 170;
  --fg-dimmed: 110 106 134;
  --accent: 235 188 186;
  --accent-lighter: 241 209 208; /* lightened 5% by HSL */

  --background: 25 23 36;
  --surface: 31 29 46;
  --surface-hover: 38 35 58;

  --warning: 246 193 119;

  @mixin shiki-variables rose-pine;
}

.theme-rose-pine-moon {
  --fg: 224 222 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 144 140 170;
  --fg-dimmed: 110 106 134;
  --accent: 234 154 151;
  --accent-lighter: 238 173 170; /* lightened 5% by HSL */

  --background: 35 33 54;
  --surface: 42 39 63;
  --surface-hover: 57 53 82;

  --warning: 246 193 119;

  @mixin shiki-variables rose-pine-moon;
}

.theme-rose-pine-dawn {
  --fg: 87 82 121;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 121 117 147;
  --fg-dimmed: 152 147 165;
  --accent: 215 130 126;
  --accent-lighter: 221 150 146; /* lightened 5% by HSL */

  --background: 250 244 237;
  --surface: 255 250 243;
  --surface-hover: 242 233 222;

  --warning: 234 157 52;

  @mixin shiki-variables rose-pine-dawn;
}

.theme-flexoki-light {
  --fg: 16 15 15;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 111 110 105;
  --fg-dimmed: 183 181 172;
  --accent: 36 131 123;
  --accent-lighter: 58 169 159;

  --background: 255 252 240;
  --surface: 242 240 229;
  --surface-hover: 230 228 217;

  --warning: 173 131 1;

  @mixin shiki-variables flexoki-light;
}

.theme-flexoki-dark {
  --fg: 206 205 195;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 135 133 128;
  --fg-dimmed: 87 86 83;
  --accent: 58 169 159;
  --accent-lighter: 36 131 123;

  --background: 16 15 15;
  --surface: 28 27 26;
  --surface-hover: 40 39 38;

  --warning: 208 162 21;

  @mixin shiki-variables flexoki-dark;
}

.theme-gruvbox-light {
  --fg: 60 56 54;
  --fg-brighter: 40 40 40;
  --fg-less-dimmed: 80 73 69;
  --fg-dimmed: 102 92 84;
  --accent: 177 98 134;
  --accent-lighter: 143 63 113;

  --background: 251 241 199;
  --surface: 235 219 178;
  --surface-hover: 213 196 161;

  --warning: 215 153 32;

  @mixin shiki-variables gruvbox-light;
}

.theme-gruvbox-dark {
  --fg: 235 219 178;
  --fg-brighter: 251 241 199;
  --fg-less-dimmed: 213 196 161;
  --fg-dimmed: 189 174 147;
  --accent: 211 134 155;
  --accent-lighter: 177 98 134;

  --background: 40 40 40;
  --surface: 60 56 54;
  --surface-hover: 80 73 69;

  --warning: 251 189 48;

  @mixin shiki-variables gruvbox-dark;
}
