:root {
  font-feature-settings: 'zero', 'ss01', 'cv01', 'cv10';
}

:root {
  --fg: 25 25 25;
  --fg-brighter: 0 0 0;
  --fg-less-dimmed: 50 50 50;
  --fg-dimmed: 75 75 75;
  --accent: 37 99 235;
  --accent-lighter: 59 130 246;

  --background: 255 255 255;
  --surface: 245 245 245;
  --surface-hover: 235 235 235;

  --shiki-foreground: rgba(var(--fg) / 1);
  --shiki-background: rgba(var(--surface) / 1);
  --shiki-token-link: rgba(var(--accent) / 1);

  --shiki-token-constant: #ef4444;
  --shiki-token-string: #f97316;
  --shiki-token-comment: #a3a3a3;
  --shiki-token-keyword: #22c55e;
  --shiki-token-parameter: #22c55e;
  --shiki-token-function: #14b8a6;
  --shiki-token-string-expression: #0ea5e9;
  --shiki-token-punctuation: #6366f1;
}

.theme-dark {
  --fg: 235 235 235;
  --fg-brighter: 245 245 245;
  --fg-less-dimmed: 215 215 215;
  --fg-dimmed: 195 195 195;
  --accent: 147 197 253;
  --accent-lighter: 96 165 250;

  --background: 20 20 20;
  --surface: 30 30 30;
  --surface-hover: 40 40 40;

  --shiki-token-constant: #fca5a5;
  --shiki-token-string: #fdba74;
  --shiki-token-comment: #a3a3a3;
  --shiki-token-keyword: #bef264;
  --shiki-token-parameter: #86efac;
  --shiki-token-function: #5eead4;
  --shiki-token-string-expression: #7dd3fc;
  --shiki-token-punctuation: #a5b4fc;
}

.theme-ctp-latte {
  --fg: 76 79 105;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 92 95 119;
  --fg-dimmed: 108 111 133;
  --accent: 4 165 229;
  --accent-lighter: 34 190 252; /* not part of the default palette, lightened via HSL */

  --background: 230 233 239;
  --surface: 239 241 245;
  --surface-hover: 204 208 218;

  --shiki-token-constant: #fe640b;
  --shiki-token-string: #40a02b;
  --shiki-token-comment: #9ca0b0;
  --shiki-token-keyword: #8839ef;
  --shiki-token-parameter: #e64553;
  --shiki-token-function: #1e66f5;
  --shiki-token-string-expression: #ea76cb;
  --shiki-token-punctuation: #04a5e5;
}

.theme-ctp-frappe {
  --fg: 198 208 245;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 181 191 226;
  --fg-dimmed: 165 173 206;
  --accent: 140 170 238;
  --accent-lighter: 166 189 242; /* same as above */

  --background: 41 44 60;
  --surface: 48 52 70;
  --surface-hover: 65 69 89;

  --shiki-token-constant: #ef9f76;
  --shiki-token-string: #a6d189;
  --shiki-token-comment: #737994;
  --shiki-token-keyword: #ca9ee6;
  --shiki-token-parameter: #ea999c;
  --shiki-token-function: #8caaee;
  --shiki-token-string-expression: #f4b8e4;
  --shiki-token-punctuation: #99d1db;
}

.theme-ctp-macchiato {
  --fg: 202 211 245;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 184 192 224;
  --fg-dimmed: 165 173 203;
  --accent: 138 173 244;
  --accent-lighter: 162 190 246; /* same as above */

  --background: 30 32 48;
  --surface: 36 39 58;
  --surface-hover: 54 58 79;

  --shiki-token-constant: #f5a97f;
  --shiki-token-string: #a6da95;
  --shiki-token-comment: #6e738d;
  --shiki-token-keyword: #c6a0f6;
  --shiki-token-parameter: #ee99a0;
  --shiki-token-function: #8aadf4;
  --shiki-token-string-expression: #f5bde6;
  --shiki-token-punctuation: #91d7e3;
}

.theme-ctp-mocha {
  --fg: 205 214 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 186 194 222;
  --fg-dimmed: 166 173 200;
  --accent: 137 180 250;
  --accent-lighter: 162 196 251; /* same as above */

  --background: 24 24 37;
  --surface: 30 30 46;
  --surface-hover: 49 50 68;

  --shiki-token-constant: #f5a97f;
  --shiki-token-string: #a6da95;
  --shiki-token-comment: #6e738d;
  --shiki-token-keyword: #c6a0f6;
  --shiki-token-parameter: #ee99a0;
  --shiki-token-function: #8aadf4;
  --shiki-token-string-expression: #f5bde6;
  --shiki-token-punctuation: #91d7e3;
}

.theme-nord-light {
  --fg: 46 52 64;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 59 66 82;
  --fg-dimmed: 67 76 94;
  --accent: 129 161 193;
  --accent-lighter: 136 192 208;

  --background: 236 239 244;
  --surface: 229 233 240;
  --surface-hover: 216 222 233;

  /* overrides because nord syntax highlighting only has dark mode */
  --shiki-foreground: rgba(236 239 244 / 1);
  --shiki-background: rgba(59 66 82 / 1);
  --shiki-token-link: rgba(136 192 208 / 1);

  --shiki-token-constant: #d8dee9;
  --shiki-token-string: #a3be8c;
  --shiki-token-comment: #4c566a;
  --shiki-token-keyword: #81a1c1;
  --shiki-token-parameter: #8fbcbb;
  --shiki-token-function: #88c0d0;
  --shiki-token-string-expression: #a3be8c;
  --shiki-token-punctuation: #81a1c1;
}

.theme-nord-dark {
  --fg: 236 239 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 229 233 240;
  --fg-dimmed: 216 222 233;
  --accent: 136 192 208;
  --accent-lighter: 129 161 193;

  --background: 46 52 64;
  --surface: 59 66 82;
  --surface-hover: 67 76 94;

  --shiki-token-constant: #d8dee9;
  --shiki-token-string: #a3be8c;
  --shiki-token-comment: #4c566a;
  --shiki-token-keyword: #81a1c1;
  --shiki-token-parameter: #8fbcbb;
  --shiki-token-function: #88c0d0;
  --shiki-token-string-expression: #a3be8c;
  --shiki-token-punctuation: #81a1c1;
}

.theme-rose-pine {
  --fg: 224 222 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 144 140 170;
  --fg-dimmed: 110 106 134;
  --accent: 235 188 186;
  --accent-lighter: 241 209 208; /* lightened 5% by HSL */

  --background: 25 23 36;
  --surface: 31 29 46;
  --surface-hover: 38 35 58;

  --shiki-token-constant: #eb6f92;
  --shiki-token-string: #f6c177;
  --shiki-token-comment: #6e6a86;
  --shiki-token-keyword: #31748f;
  --shiki-token-parameter: #c4a7e7;
  --shiki-token-function: #ebbcba;
  --shiki-token-string-expression: #f6c177;
  --shiki-token-punctuation: #908caa;
}

.theme-rose-pine-moon {
  --fg: 224 222 244;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 144 140 170;
  --fg-dimmed: 110 106 134;
  --accent: 234 154 151;
  --accent-lighter: 238 173 170; /* lightened 5% by HSL */

  --background: 35 33 54;
  --surface: 42 39 63;
  --surface-hover: 57 53 82;

  --shiki-token-constant: #eb6f92;
  --shiki-token-string: #f6c177;
  --shiki-token-comment: #6e6a86;
  --shiki-token-keyword: #31748f;
  --shiki-token-parameter: #c4a7e7;
  --shiki-token-function: #ebbcba;
  --shiki-token-string-expression: #f6c177;
  --shiki-token-punctuation: #908caa;
}

.theme-rose-pine-dawn {
  --fg: 87 82 121;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 121 117 147;
  --fg-dimmed: 152 147 165;
  --accent: 215 130 126;
  --accent-lighter: 221 150 146; /* lightened 5% by HSL */

  --background: 250 244 237;
  --surface: 255 250 243;
  --surface-hover: 242 233 222;

  --shiki-token-constant: #b4637a;
  --shiki-token-string: #ea9d34;
  --shiki-token-comment: #9893a5;
  --shiki-token-keyword: #286983;
  --shiki-token-parameter: #907aa9;
  --shiki-token-function: #d7827e;
  --shiki-token-string-expression: #ea9d34;
  --shiki-token-punctuation: #797593;
}

.theme-flexoki-light {
  --fg: 16 15 15;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 111 110 105;
  --fg-dimmed: 183 181 172;
  --accent: 36 131 123;
  --accent-lighter: 58 169 159;

  --background: 255 252 240;
  --surface: 242 240 229;
  --surface-hover: 230 228 217;

  --shiki-token-constant: rgb(173, 131, 1);
  --shiki-token-string: rgb(36, 131, 123);
  --shiki-token-comment: rgb(183, 181, 172);
  --shiki-token-keyword: rgb(102, 128, 11);
  --shiki-token-parameter: rgb(111, 110, 105);
  --shiki-token-function: rgb(188, 82, 21);
  --shiki-token-string-expression: rgb(160, 47, 111);
  --shiki-token-punctuation: rgb(32, 94, 166);
}

.theme-flexoki-dark {
  --fg: 206 205 195;
  --fg-brighter: var(--fg);
  --fg-less-dimmed: 135 133 128;
  --fg-dimmed: 87 86 83;
  --accent: 58 169 159;
  --accent-lighter: 36 131 123;

  --background: 16 15 15;
  --surface: 28 27 26;
  --surface-hover: 40 39 38;

  --shiki-token-constant: rgb(208, 162, 21);
  --shiki-token-string: rgb(58, 169, 159);
  --shiki-token-comment: rgb(87, 86, 83);
  --shiki-token-keyword: rgb(135, 154, 57);
  --shiki-token-parameter: rgb(135, 133, 128);
  --shiki-token-function: rgb(218, 112, 44);
  --shiki-token-string-expression: rgb(209, 77, 65);
  --shiki-token-punctuation: rgb(67, 133, 190);
}
