---
eleventyComputed:
  socialImg: "{{ domain }}/previews/{{ title | slugify }}.png"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="/icons/transparent.png" />
    <link rel="apple-touch-icon" href="/icons/solid.png" />
    <link rel="canonical" href="https://ryanccn.dev{{ page.url }}" />
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="A blog on web development, etc." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@RyanCaoDev" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta property="og:image" content="{{ socialImg }}" />
    <meta name="twitter:image" content="{{ socialImg }}" />
    <link rel="stylesheet" href="/assets/tailwind.css" />

    {% if includePrismCSS %}
    <link rel="stylesheet" href="/assets/prism.css" />
    {% endif %}

    <script defer async src="/assets/main.js"></script>
    <script>
      {% themeScript %}
    </script>

    {% if inProduction %}
    <script
      defer
      src="/plausible/script.js"
      data-domain="ryanccn.dev"
      data-api="/plausible/event"
    ></script>
    {% endif %}
  </head>

  <body>
    {% include 'header.njk' %}
    <main class="contain min-h-screen">{{ content | safe }}</main>
    <footer class="contain my-28 text-center">
      <p class="text-zinc-500">
        &copy; Ryan Cao 2020-{{ year }}
      </p>
    </footer>
  </body>
</html>
