---
layout: 'base'
includePrismCSS: true
---

<article
  class="prose prose-a:text-blue-500 prose-a:underline-offset-1 prose-a:transition-colors hover:prose-a:text-blue-400 dark:prose-invert dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-500"
>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
<button
  class="article-cta mt-16 bg-green-500 shadow-green-400/30 hover:shadow-green-400/60 dark:bg-green-500"
  data-share-button
>
  <h1 class="mb-4 text-2xl font-semibold lg:text-3xl">
    If you liked this post...
  </h1>
  <p class="text-lg font-medium">Don't forget to share it with more people!</p>
  <p class="text-lg font-medium">
    Just click anywhere in the blue area to share.
  </p>
</button>
<a
  class="article-cta mt-6 bg-blue-500 shadow-blue-500/30 hover:shadow-blue-500/60 dark:bg-blue-600"
  href="https://discord.gg/hUANJjEfTK"
>
  <h1 class="mb-4 text-2xl font-semibold lg:text-3xl">
    If you have something to say...
  </h1>
  <p class="text-lg font-medium">You can also join the Discord!</p>
  <p class="text-lg font-medium">Click to join the Ryanland server.</p>
</a>
