---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - postsTagList
    - eleventy-plugin-validate
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /posts/tags/{{ tag | slugify }}/
---

<h1 class="title">Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] | reverse %}
{% include "postslist.njk" %}

<p class="mt-12"><a href="{{ '/posts/' | url }}" class="accent-link font-medium transition">&leftarrow; All posts</a></p>
