---
layout: 'base'
permalink: '/404.html'
title: '404 Not Found!'
includeAnalytics: false
eleventyExcludeFromCollections: true
---

<h1 class="ry-title">404 Not Found!</h1>

<p class="mb-16">
  What was it that you were looking for? It's not here, sadly :&lt;
</p>

<a href="/" class="ry-link plain mb-36">&lt;- Go home</a>
