---
layout: 'base'
title: 'Not Found!'
permalink: '/404.html'
eleventyExcludeFromCollections: true
---

<h2 class="mb-10 text-5xl font-bold">
  404 Not Found!
</h2>

<p class="mb-4">What was it that you were looking for? It's not here, sadly :&lt;</p>

<a href="/" class="plain-link mb-36">&leftarrow; Go home</a>
