---
layout: 'base'
title: 'Ryan Cao'
permalink: '/'
---

<p class="mb-10 text-5xl font-bold font-satoshi">
  Hi! I'm <span class="font-bold">Ryan</span>.
</p>

<p class="mb-4">
  I am a
  <mark
    class="font-medium"
  >
    fullstack web developer
  </mark>
  who loves working with SSGs and performant stuff.
</p>
<p class="mb-16">
  I do
  <mark class="font-medium">
    web development
  </mark>
  and am currently learning
  <mark
    class="font-medium"
  >
    Electron
  </mark>.
</p>

<a class="buttonish primary self-start mb-2" href="/projects/">Check out my projects →</a>
<a class="buttonish primary self-start" href="/posts/">Read my blog posts →</a>
