---
layout: 'base'
title: 'Projects'
date: 2024-11-09
---

<h1 class="title">Projects</h1>

<p class="subtitle mb-16">
  The open source projects that I have built myself and those that I've contributed to over the years.
</p>

<ul class="projects-grid" id="projects">
  {% asyncEach project in projects.projects %}
    <li>{% include "projectCard.njk" %}</li>
  {% endeach %}
</ul>

<h2 class="projects-page" id="organizations">Organizations</h2>
<ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12">
  {% asyncEach org in organizations %}
    <li class="flex flex-col gap-y-1 h-full">
      <a href="{{ org.url }}" class="group flex flex-row flex-wrap gap-x-2 items-center">
        <h3 class="font-semibold text-lg tracking-tight underline underline-offset-2 decoration-dotted decoration-fg-dimmed group-hover:decoration-fg-less-dimmed transition-colors">
          {{ org.name }}
        </h3>

        {% if org.formerly %}
        <span class="text-xs font-medium bg-surface px-1.5 py-0.5 rounded-sm">Formerly</span>
        {% endif %}
      </a>

      <span class="text-fg-less-dimmed font-medium text-sm leading-snug text-pretty">
        {{ org.role }}
      </span>

      <span class="mt-2.5 text-fg-dimmed text-sm leading-snug text-pretty">
        {{ org.description }}
      </span>
    </li>
  {% endeach %}
</ul>

<h2 class="projects-page" id="github">GitHub Contributions</h2>

{% if contributions.length > 0 %}
<ol class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-3 mb-12">
  {% asyncEach repo in contributions %}
  <li class="flex gap-x-2 justify-between w-full">
    <a rel="noreferrer" class="font-semibold text-sm overflow-hidden overflow-ellipsis whitespace-nowrap min-w-0 underline underline-offset-2 decoration-dotted decoration-fg-dimmed hover:decoration-fg-less-dimmed transition-colors" href="{{ repo.url }}">
      <span class="text-fg-less-dimmed">{{ repo.owner.login }}/</span><span>{{ repo.name }}</span>
    </a>
    <div class="flex gap-x-1 items-center text-fg-dimmed">
      {% icon 'lucide:star', class='block size-3 fill-current stroke-none shrink-0' %}
      <span class="text-xs font-medium">{{ repo.stargazerCount | compactNumberFormat }}</span>
    </div>
  </li>
  {% endeach %}
  <a
    href="https://github.com/ryanccn"
    class="text-fg-dimmed hover:text-fg-less-dimmed transition-colors text-sm font-medium place-self-end"
  >See more →</a>
</ol>
{% else %}
<div class="px-4 py-16 bg-surface text-fg/50 rounded-lg flex flex-col gap-y-2 items-center mb-12">
  {% icon 'lucide:alert-triangle', class='block size-8' %}
  <span class="font-semibold">No data found!</span>
</div>
{% endif %}

<section class="opacity-50" id="archived">
  <h2 class="projects-page">Archived</h2>
  <ul class="projects-grid">
    {% asyncEach project in projects.archived %}
      <li>{% include "projectCard.njk" %}</li>
    {% endeach %}
  </ul>
</section>
