---
layout: 'base'
title: 'Projects'
---

<h1 class="title">Projects</h1>

<p class="subtitle mb-16">
  The open source projects that I have built myself and some that I've contributed to over the years.
</p>

<div class="projects-grid">
  {% for project in projects.projects %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h2 class="projects-page">Notable Contributions</h2>
<div class="projects-grid">
  {% for project in projects.contributions %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h2 class="projects-page">Minecraft Mods</h2>
<div class="projects-grid">
  {% for project in projects.mods %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h2 class="projects-page">Archived Projects</h2>
<div class="projects-grid">
  {% for project in projects.archived %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>
