---
layout: 'base'
title: 'Projects'
---

<h2 class="title">Projects</h2>

<div class="projects-grid">
  {% for project in projects.projects %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h3 class="projects-page">Notable Contributions</h3>
<div class="projects-grid">
  {% for project in projects.contributions %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h3 class="projects-page">Minecraft Mods</h3>
<div class="projects-grid">
  {% for project in projects.mods %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

<h3 class="projects-page">Archived Projects</h3>
<div class="projects-grid">
  {% for project in projects.archived %}
    {% include "projectCard.njk" %}
  {% endfor %}
</div>

{% include "shareLinks.njk" %}
