---
layout: 'base'
title: 'Reading'
---

<h1 class="title">Reading</h1>

<ul class="flex flex-col gap-y-6">
{% for book in reading %}
  <li class="flex flex-col lg:flex-row lg:justify-between gap-2">
    <div class="flex flex-col gap-y-1">
      <a class="text-lg font-semibold hover:underline underline-offset-2" href="{{ book.link }}">{{ book.title }}</a>
      <p class="text-sm font-medium text-fg-dimmed">{{ book.author }}</p>
    </div>

    <p class="text-fg-dimmed">{{ book.date }}</p>
  </li>
{% endfor %}
</ul>

<p class="mt-16 text-fg-dimmed max-w-prose">
  Reading before January 17, 2022 are not tracked. This list may be incomplete, but I try to keep it up-to-date.
</p>
