@tailwind base;

:root {
  --fg: 15 23 42;
  --fg-less-dimmed: 51 65 85;
  --fg-dimmed: 100 116 139;
  --accent: 59 130 246;
  --accent-lighter: 96 165 250;

  --background: 255 255 255;
  --surface: 241 245 249;
  --surface-hover: 226 232 240;
}

.theme-dark {
  --fg: 255 255 255;
  --fg-less-dimmed: 241 245 249;
  --fg-dimmed: 226 232 240;
  --accent: 96 165 250;
  --accent-lighter: 59 130 246;

  --background: 24 24 27;
  --surface: 39 39 42;
  --surface-hover: 63 63 70;
}

.theme-ctp-latte {
  --fg: 76 79 105;
  --fg-less-dimmed: 92 95 119;
  --fg-dimmed: 108 111 133;
  --accent: 4 165 229;
  --accent-lighter: 34 190 252; /* not part of the default palette, lightened via HSL */

  --background: 239 241 245;
  --surface: 204 208 218;
  --surface-hover: 188 192 204;
}

.theme-ctp-frappe {
  --fg: 198 208 245;
  --fg-less-dimmed: 181 191 226;
  --fg-dimmed: 165 173 206;
  --accent: 140 170 238;
  --accent-lighter: 166 189 242; /* same as above */

  --background: 48 52 70;
  --surface: 65 69 89;
  --surface-hover: 81 87 109;
}

.theme-ctp-macchiato {
  --fg: 202 211 245;
  --fg-less-dimmed: 184 192 224;
  --fg-dimmed: 165 173 203;
  --accent: 138 173 244;
  --accent-lighter: 162 190 246; /* same as above */

  --background: 36 39 58;
  --surface: 54 58 79;
  --surface-hover: 73 77 100;
}

.theme-ctp-mocha {
  --fg: 205 214 244;
  --fg-less-dimmed: 186 194 222;
  --fg-dimmed: 166 173 200;
  --accent: 137 180 250;
  --accent-lighter: 162 196 251; /* same as above */

  --background: 30 30 46;
  --surface: 49 50 68;
  --surface-hover: 69 71 90;
}

.theme-hack {
  --fg: 255 255 255;
  --fg-less-dimmed: 245 245 245;
  --fg-dimmed: 229 229 229;
  --accent: 34 197 94;
  --accent-lighter: 74 222 128;

  --background: 0 0 0;
  --surface: 0 0 0;
  --surface-hover: var(--accent);
}

@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply flex min-h-screen flex-col;
    @apply mx-auto max-w-[130ch] overflow-y-scroll px-6 pb-32;
    @apply bg-background text-fg;
    @apply tracking-tight;
    scrollbar-color: rgb(var(--surface-hover)) rgb(var(--surface));
  }

  ::selection {
    @apply bg-accent text-white;
  }

  a,
  button,
  input,
  textarea {
    @apply outline-none focus:ring focus:ring-accent/50;
  }

  .title {
    @apply mb-8 font-satoshi text-3xl font-extrabold;
  }

  .enhanced-prose {
    @apply break-words prose-headings:font-satoshi;
    @apply prose-a:text-accent prose-a:underline-offset-2 prose-a:transition-colors hover:prose-a:text-accent-lighter;
    @apply prose-blockquote:text-fg prose-strong:text-fg prose-pre:bg-surface;
    @apply max-w-none;

    --tw-prose-body: rgba(var(--fg-less-dimmed) / 1);
    --tw-prose-headings: rgba(var(--fg) / 1);
    --tw-prose-code: rgba(var(--fg) / 1);

    & :is(h2, h3, h4, h5) {
      @apply flex items-center;
    }
    & :is(h2, h3, h4, h5) .anchor {
      @apply ml-3 text-base font-medium text-fg-dimmed no-underline hover:text-fg-less-dimmed;
    }
  }

  .link {
    @apply text-fg hover:text-accent;
  }

  a.buttonish,
  button {
    @apply flex items-center space-x-3 rounded px-4 py-2 text-sm font-medium;
    @apply transition-all hover:brightness-[80%] disabled:opacity-75;

    &.primary {
      @apply bg-accent text-white;
    }
  }

  h3.projects-page {
    @apply mb-6 font-satoshi text-2xl font-bold;
  }

  div.projects-grid {
    @apply mb-12 grid grid-cols-1 gap-4 md:grid-cols-2;
  }
}
