name: Rebuild

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  rebuild:
    runs-on: ubuntu-latest
    steps:
      - run: curl -X POST --silent "$CLOUDFLARE_DEPLOY_HOOK"
        env:
          CLOUDFLARE_DEPLOY_HOOK: ${{ secrets.CLOUDFLARE_DEPLOY_HOOK }}
